<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route_status.title %>
</p>

<%= link_to 'Edit', edit_route_status_path(@route_status) %> |
<%= link_to 'Back', route_statuses_path %>
