<h1>Редагування профілю</h1>

<%= render 'form', profile: @profile %>

<%= link_to 'Повернутися', @profile, class: "btn btn-default" %>
<!-- <%= link_to 'Повернутися', @profile %> |
<%= link_to 'Back', profiles_path %> -->
