<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @settlement_type.title %>
</p>

<%= link_to 'Edit', edit_settlement_type_path(@settlement_type) %> |
<%= link_to 'Back', settlement_types_path %>
