<div>
  <%= link_to 'New Route', new_route_path %>
</div>
<div>
  <strong>Routes: </strong>
  <% @routes.each do |route| %>
    <p>
      <%= link_to route.title, route_path(route) %>
    </p>
  <% end %>
</div>
