<h1>Редагувати спорядження</h1>

<%= render 'form', user_available_item: @user_available_item %>

<!-- <%= link_to 'Show', @user_available_item %> | -->
<%= link_to 'Повернутися', user_available_items_path %>
