<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article_category.title %>
</p>

<%= link_to 'Edit', edit_article_category_path(@article_category) %> |
<%= link_to 'Back', article_categories_path %>
